/* Sidebar.module.css */
.sidebarContainer {
  position: relative;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  width: 300px !important;
}

.sidebarOpen {
  width: 16rem;
}

.sidebarClosed {
  width: 5rem;
}

.sidebarInner {
  height: 100%;
  background-color: #1e1e1e;
  backdrop-filter: blur(8px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2f2f2f;
  overflow-y: scroll;
}

.sidebarInner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(150, 146, 146, 0.5);
}

.sidebarInner::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

.sidebarInner::-webkit-scrollbar-track {
  border-radius: 10px;
}

.toggleButton {
  padding: 5px 8px;
  border-radius: 9999px;
  transition: background-color 0.3s;
  border: none !important;
  max-width: fit-content;
  cursor: pointer;
  background: none;
}

.toggleButton:hover {
  background-color: #2f2f2f;
}

.navContainer {
  margin-top: 2rem;
  flex-grow: 1;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  cursor: pointer;
}

.navItemActive {
  background-color: #2f2f2f;
}

.navItem:hover {
  background-color: #2f2f2f;
}

.navText {
  margin-left: 1rem;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown_icon {
  margin-left: 90px;
}
