.add_employee {
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  width: 140px;
  margin-top: 10px;
  background: linear-gradient(90deg, #ff9b44 0%, #fc6075 100%);
}

.top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_text {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.form {
  padding: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.item {
  flex: 1;
}

.heading_text {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.submit {
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: linear-gradient(90deg, #ff9b44 0%, #fc6075 100%);
}

.submit:hover {
  background: linear-gradient(90deg, #ff9b44 0%, #fc6075 100%) !important;
}

.profile_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 50px;
}

@media (max-width: 640px) {
  .profile_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .row {
    flex-direction: column;
    gap: 0px;
  }
}
