.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.login_form_container {
  margin-top: 100px !important;
}

.header_text {
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.ForgotPasswordForm_container {
  margin-top: 100px !important;
}

.login_button {
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: linear-gradient(90deg, #ff9b44 0%, #fc6075 100%);
}

.text_email {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.forgot_password {
  text-align: right;
  color: #ff9b44;
  font-weight: 500;
  cursor: pointer;
}

.register {
  cursor: pointer;
  color: #ff9b44;
  text-decoration: underline;
}

.register_title_modal {
  background-color: #1e1e1e !important;
  color: white !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 10px !important;
  text-align: center !important;
}

.register_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
}
