.header_text {
  font-size: 20px;
  font-weight: 600;
  color: #dfd3d3;
}

.header {
  font-size: 24px;
  font-weight: 600;
  color: #dfd3d3;
}

.list {
  font-size: 16px;
  font-weight: 600;
  color: #c7bbbb;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #dfd3d3;
}

.h4 {
  font-size: 18px;
  font-weight: 600;
  color: #dfd3d3;
  margin-bottom: 5px;
}

.h5 {
  font-size: 18px;
  font-weight: 600;
  color: #dfd3d3;
}

.note {
  font-size: 14px;
  font-weight: 600;
  color: #c7bbbb;
}

@media (max-width: 640px) {
  .header_text {
    font-size: 18px;
  }

  .header {
    font-size: 20px;
  }

  .list {
    font-size: 14px;
  }

  .title {
    font-size: 16px;
  }

  .h4 {
    font-size: 16px;
  }

  .h5 {
    font-size: 14px;
  }

  .note {
    font-size: 12px;
  }
}
