.header_text {
  font-size: 24px;
  font-weight: 600;
  color: #dfd3d3;
  margin-bottom: 20px;
}

.flex_text_image {
  display: flex;
  align-items: center;
  gap: 15px;
}

.text {
  color: #ff9b44;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}